body {
  background-color: pink;
  text-transform: capitalize;
}
.mainText {
  background-color: green;
  box-shadow: 20px 20px 30px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 50px 40px;
  text-shadow: 20px 5px 15px pink;
}  
.paragraph1 {
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-style: double;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
.paragraph2 {
  text-align: center;
  color: pink;
}
span {
  font-weight: bold;
  font-stretch: expanded;
}
q{
  quotes: "«" "»";
  font-style:italic;
}
